.produtos-mobile2 {
    position: relative;
    height: 100vh;
    background: #e7e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.produtos-mobile2 .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.produtos-mobile2 .texto h1 {
    color: #7525ff;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 12px;
}

.produtos-mobile2 .texto p {
    color: #000;
    font-size: 25px;
    text-align: center;
    width: 700px;
    margin-top: 35px;
}

.produtos-mobile2 .texto button {
    padding: 20px 200px;
    border: none;
    background: #7525ff;
    color: aliceblue;
    font-size: 19px;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.698);
    transition: 0.25s;
    margin-top: 41px;
}

.produtos-mobile2 .texto button:hover {
    background: #531bb4;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .produtos-mobile2 {
        display: flex;
    }

    .produtos-mobile2 .texto {
        margin-top: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .produtos-mobile2 .texto h1 {
        color: #7525ff;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        width: 360px;
        margin-top: 20px;
    }

    .produtos-mobile2 .texto p {
        color: #000;
        font-size:17px;
        text-align: center;
        width: 350px;
        margin-top: 10px;
    }

    .produtos-mobile2 .texto button {
        padding: 15px 90px;
        border: none;
        background: #7525ff;
        color: aliceblue;
        font-size: 17px;
        font-weight: 700;
        border-radius: 50px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.698);
        transition: 0.25s;
        margin-top: 10px;
    }

    produtos-mobile2 .texto button:hover {
        background: #531bb4;
    }
}

@media screen and (min-width: 380px) and (max-width: 767px) {
    .produtos-mobile2 {
        display: flex;
    }

    .produtos-mobile2 .texto {
        margin-top: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .produtos-mobile2 .texto h1 {
        color: #7525ff;
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        width: 370px;
        margin-top: 12px;
    }

    .produtos-mobile2 .texto p {
        color: #000;
        font-size: 17px;
        text-align: center;
        width: 380px;
        margin-top: 10px;
    }

    .produtos-mobile2 .texto button {
        padding: 15px 90px;
        border: none;
        background: #7525ff;
        color: aliceblue;
        font-size: 17px;
        font-weight: 700;
        border-radius: 50px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.698);
        transition: 0.25s;
        margin-top: 10px;
    }

    produtos-mobile2 .texto button:hover {
        background: #531bb4;
    }
}