.produtos {
    position: relative;
    height: 100vh;
    background: #e7e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.produtos .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alguns-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos .texto h1 {
    color: #7525ff;
    font-size: 35px;
    font-weight: 700;
}

.produtos .texto p {
    font-size: 17px;
    margin-top: 5px;
    width: 700px;
    text-align: center;
}

.produto {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border: solid 0.5px #7a7a7a;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.353);
    height: 485px;
    width: 270px;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 5px;
}

.descricao h1 {
    font-size: 20px;
    font-weight: 800;
    color: #7525ff;
}

.descricao p {
    font-size: 13px;
    width: 250px;
}

.descricao .preco1 h1 {
    font-size: 30px;
    margin-top: 35px;
}

.descricao .preco2 h1 {
    font-size: 30px;
    margin-top: -4px;
}

.descricao .preco3 h1 {
    font-size: 30px;
    margin-top: -4px;
}

.comprar button {
    padding: 8px 89px;
    border: none;
    background: #7525ff;
    color: aliceblue;
    font-weight: 700;
    border-radius: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.698);
    transition: 0.25s;
}

.comprar button:hover {
    background: #531bb4;
}

.produto2, .produto3 {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .produtos .alguns-produtos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-top: 25px;
    }

    .alguns-produtos .produto3 {
        display: none;
    }

    .alguns-produtos .produto2 {
        margin-left: 0px;
        margin-top: 35.5px;
    }

    .produtos .texto {
        margin-top: 650px;
    }

    .produtos .texto h1 {
        font-size: 30px;
    }

    .produtos .texto p {
        width: 350px;
    }

    .produtos-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .produtos-mobile .produto2 {
        margin-top: 200px;
    }

    .produtos .carousel-item img {
        height: 210px;
    }
}