@media screen and (min-width: 320px) and (max-width: 375px) {
    

    .footer .algunsLinkFooter {
        display: flex;
        flex-direction: column;
    }

    .footer .sobreLink, .footer .links, .footer .redesSociais {
        margin-left: 25px;
    }

    .footer .links, .footer .redesSociais {
        margin-top: 50px;
    }

    .footer .sobreLink a, .footer .links a, .footer .redesSociais a {
        font-size: 20px;
    }

    .footer .redesSociais li a {
        font-size: 30px;
    }

    .footer .sobreLink a, .footer .links a, .footer .redesSociais a {
        font-size: 20px;
    }

    .footer .sobreLink a:hover, .footer .links a:hover {
        font-size: 22px;
    }

    .footer .redesSociais li a i:hover {
        font-size: 32px;
    }
}

@media screen and (min-width: 380px) and (max-width: 767px) {

    .footer .algunsLinkFooter {
        display: flex;
        flex-direction: column;
    }

    .footer .sobreLink, .footer .links, .footer .redesSociais {
        margin-left: 25px;
    }

    .footer .links, .footer .redesSociais {
        margin-top: 50px;
    }

    .footer .sobreLink a, .footer .links a, .footer .redesSociais a {
        font-size: 20px;
    }

    .footer .redesSociais li a {
        font-size: 30px;
    }

    .footer .sobreLink a, .footer .links a, .footer .redesSociais a {
        font-size: 20px;
    }

    .footer .sobreLink a:hover, .footer .links a:hover {
        font-size: 22px;
    }

    .footer .redesSociais li a i:hover {
        font-size: 32px;
    }
}
