.sobre {
    background: #e7e3ff;
    display: flex;
    align-items: center;
    height: 100vh;
}

.sobre .conteudo {
    display: flex;
}

.vantagens {
    margin-left: 50px;
}

.vantagens h1 {
    width: 600px;
    font-size: 50px;
    color: #7525ff;
}

.vantagens p {
    width: 700px;
    margin-top: 35px;
    font-size: 25px;
}

.vantagens p span {
    font-weight: 650;
}

.video {
    margin-left: 180px;
}

.video iframe {
    box-shadow: 0px 1px 8px rgba(43, 43, 43, 0.898);
}

.item {
    opacity: 0;
    transform: translateY(50px); /* Inicia a animação abaixo */
    transition: opacity 2s ease-out, transform 0.5s ease-out;
}

.item.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .sobre {
        display: flex;
        align-items: baseline;
    }

    .sobre .conteudo {
        flex-direction: column;
        align-items: baseline;
        justify-content: left;
        width: 100%;
        margin-top: 20px;
        margin-left: 13px;
    }

    .vantagens {
        margin-left: 0;
    }

    .vantagens h1 {
        width: 350px;
        font-size: 30px;
    }

    .vantagens p {
        font-size: 16px;
        margin-top: 15px;
        width: 350px;
    }

    .video {
        margin-left: 0;
    }

    .video iframe {
        margin-top: 10px;
        width: 350px;
        height: 340px;
    }
}

@media screen and (min-width: 380px) and (max-width: 767px) {
    .sobre {
        display: flex;
        align-items: baseline;
    }

    .sobre .conteudo {
        flex-direction: column;
        align-items: baseline;
        justify-content: left;
        width: 100%;
        margin-top: 20px;
        margin-left: 15px;
    }

    .vantagens {
        margin-left: 0;
    }

    .vantagens h1 {
        width: 350px;
        font-size: 30px;
    }

    .vantagens p {
        font-size: 16px;
        margin-top: 15px;
        width: 350px;
    }

    .video {
        margin-left: 0;
    }

    .video iframe {
        margin-top: 10px;
        width: 350px;
        height: 340px;
    }
}